<div class="matches-header"><span [innerHTML]="currentRegexp" class="title"> {{currentRegexp}}</span>
    <button mat-icon-button class="close-icon" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div #content>
    <mat-accordion>
        <mat-expansion-panel class="custom-accordion" *ngFor="let meta of regexpData let i = index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5>{{meta.percents}}% matches for <a target="_blank" [href]="meta.kdb_url">{{ meta.kdb_id}}</a></h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="title-regexp">Regexes:</div>
            <mat-accordion>
                <ng-container  *ngFor="let dataSource of meta.tableData let j = index">
                <mat-expansion-panel *ngIf="dataSource?.length" class="custom-accordion" (opened)="setCurrentRegexp(dataSource && dataSource[0]?.regexp)">

                    <mat-expansion-panel-header>
                        <mat-panel-title><div class="custom-regexp-title">{{dataSource[0]?.regexp}}</div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                        <table mat-table [dataSource]="initDataSource(dataSource, i, j)">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>File Name</th>
                                <td mat-cell *matCellDef="let element">{{element.name}}</td>
                            </ng-container>

                            <ng-container matColumnDef="text">
                                <th mat-header-cell *matHeaderCellDef>Message</th>
                                <td mat-cell *matCellDef="let element">{{element.text}}</td>
                            </ng-container>

                            <ng-container matColumnDef="line">
                                <th mat-header-cell *matHeaderCellDef>Line</th>
                                <td mat-cell *matCellDef="let element"><span><a href="" (click)="openLogs($event, element.number, element.name)">{{element.number}}</a></span></td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['name', 'text', 'line']"></tr>
                            <tr mat-row [style.background-color]="row.name | setColor" *matRowDef="let row; columns: ['name', 'text', 'line']"></tr>
                        </table>

                        <mat-paginator (cdkObserveContent) = afterRenderPaginator() [pageSize]="50" [pageSizeOptions]="[50, 100, 250]"></mat-paginator>
                </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</div>
