.close-icon {
	float: right;
}

.lines {
	font-size: 15px;
}
.input-area {
	width: 90%;
	display: inline-block;
	margin-left: 5%;
}

#custom-submit {
	float: right;
	margin-top: 10px;
}

