.container-404 {
  bottom: 0;

  display: inline-grid;
  font-size: 16px;
  font-weight: 500;
  height: 300px;
  left: 0;

  margin: auto;
  position: absolute;
  right: 0;
  top: 0;

  width: 310px;

  mat-card-content {
    display: inherit;
    text-align: center;

    .title {
      font-family: Proxima_Nova, serif;
      font-size: 135px;
    }
  }
}
