.custom-accordion {
	width: 42%;
	margin-bottom: 10px !important;
}

.input-area {
	width: 90%;
	display: inline-block;
	margin-left: 5%;
}

#custom-submit {
	float: right;
	margin-top: 10px;
}

.mat-cell, .mat-header-cell {
	justify-content: center;
	padding: 0;
}
